<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body {margin: 0; padding: 0; overflow: hidden; width: 100%; height: 100%;}
        div#media-placeholder {position: relative; width: 100%; height: 0; padding-bottom: 56.25%;}
        iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
    </style>
</head>
<body>
    <div id='fb-root'></div>
    <script id='fb-script'>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_CA/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));
    </script>
    <div id="media-placeholder">
        <div class="fb-video" data-allowfullscreen="1" data-href="###media-placeholder###" data-autoplay="###autoplay###"></div>
    </div>
</body>
</html>